/* --------------- GENERIC PAGE LAYOUT --------------- */
* {
    box-sizing: border-box;
}

.col-1 {
    width: 25%;
    background-color: red;
    text-align: center;
}

.col-2 {
    width: 50%;
    background-color: green;
    text-align: center;
}

.col-3 {
    width: 25%;
    background-color: pink;
    text-align: center;
}

.col-4 {
    width: 45%;
    background-color: blue;
    text-align: center;
}

.col-5 {
    width: 45%;
    background-color: red;
    text-align: center;
}

.col-6 {
    width: 10%;
    background-color: purple;
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

.header { 
    flex-shrink: 0;
    /*background-color: green;*/
}

.title {
    color: #7DC2BF;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    /*left: 597px;*/
    /*top:30px;*/
    align-self: center;
    text-align: center;
}

.menu {
    color: #000;
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    align-self: center;
    text-align: center;
    position: relative;
    text-decoration: none;

}

.nav {
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    color: black;
}

.loginbtn {
    width: 100px;
    height: 37px;
    padding: 10px;
    border-radius: 5px;
    background: #3AAFA9;
    color: white;
    border: none;
    position: absolute; 
    top: 10px; 
    right: 120px;
}

.loginbtn:hover {
    width: 100px;
    height: 37px;
    padding: 10px;
    border-radius: 5px;
    background: #267D79;
    color: white;
    border: none;
    position: absolute; 
    top: 10px; 
    right: 120px;
}

.registerbtn {
    width: 100px;
    height: 37px;
    padding: 10px;
    border-radius: 5px;
    background: #3AAFA9;
    color: white;
    border: none;
    position: absolute; 
    top: 10px; 
    right: 10px;
}

.registerbtn:hover {
    width: 100px;
    height: 37px;
    padding: 10px;
    border-radius: 5px;
    background: #267D79;
    color: white;
    border: none;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.titleDivider {
    stroke-width: 1px;
    stroke: #E6E6E6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 965px;
    height: 0px;
}





/* --------------- HOME PAGE --------------- */
.paragraph {
    /* Background */
    border-radius: 20px;
    background: #F3F3F3;
    /*position: absolute;*/
    padding: 30px;

    /* Text */
    color: #000;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    font-family: Arial;
    font-style: normal;
}

.orgfilter {
    /*Background*/
    border-radius: 20px;
    background: #E6F5F5;
    /*Text*/
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: Arial;
    font-style: normal;    
}

/* --------------- PROFILE PAGE --------------- */
.profileImg {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background: url("images/me.jpg"), lightgray 50% / cover no-repeat;
    position: relative;

}

.profileTextBox {
    width: 386px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #FFF;
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profileTitle {
    color: #656363;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profileDivider {
    stroke-width: 1px;
    stroke: #E6E6E6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 774.001px;
    width: 0px;
}

.textTitle {
    color: #000;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userType {
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profileBtn {
    width: 239px;
    height: 37px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #3AAFA9;
    color: white;
    border: none;
    position: relative;
}

/* Login Page */

.login {
    width: 585px;
    height: 621px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #DEF2F1;
    text-align: center;
    align-self: center;
    /*text-align: center;*/
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
}


.signup {

}

.darkText {
    color: #161616;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.lightText {
    color: #505050;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;

}

.textbox {
    width: 425px;
    height: 44px;
    flex-shrink: 0;
    border: 1px solid #CCC;
    background: #FFF;
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; /* space between label and textbox*/
    margin-bottom: 10px;
    text-align:center;

}

.signinbtn {
    display: flex;
    width: 239px;
    height: 37px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #3AAFA9;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}